.App {
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.0rem;
  min-width: 18.75rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5rem;

  @include breakpoint(sm){
    height: 3rem;
  }
}

.App-header {
  background-color: $secondary-color;
  height: 10.0rem;
  padding: 1.25rem;
  color: white;

  @include breakpoint(sm){
    height: 8rem;
  }
}

.App-title {
  font-size: 1.5rem;
  margin-top:1rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.current-player-numbers{
  margin:auto;
  padding-top:1rem;

  .current-numbers{
      display: block;
      color: $primary-color;
      text-align: center;
      .pb{
        color: $powerball-color;
      }
  }
}