.drawing {
    display: block;
    clear:both;
    overflow:auto;

    .drawing-data {
        display: block;
        float: left;
        color: $primary-text-color;
        text-align: center;
    }

    .drawing-date{
        width:33%;

        @include breakpoint(es){
            width:30%;
        }

        .color-box{
            margin:auto;
            width:50%;

            @include breakpoint(es){
                width: 70%;
            }

            &:hover{
                background-color: $tertiary-color; 
            }
        }
    }

    .drawing-number{
        width:7%;

        @include breakpoint(es){
            width:8%;
        }

        .color-box{
            margin:auto;
            width:2rem;

            @include breakpoint(es){
                margin: auto;
                width: 1.5rem;
            }

            @include breakpoint(supersmall){
                margin: auto;
                width: 1.2rem;
            }

            &:hover{
                background-color: $tertiary-color; 
            }
        }
    }

    .drawing-powerball{
        width: 7%;
        font-weight: 600;
        color: $powerball-color;

        .color-box{
            margin:auto;
            width:2rem;

            @include breakpoint(es){
                margin: auto;
                width: 1.5rem;
            }

            &:hover{
                background-color: $tertiary-color; 
            }
        }
    }

    .drawing-winnings{
        width: 25%;

        @include breakpoint(es){
            width:22%;
        }

        .color-box{
            margin:auto;
            width:50%;

            &:hover{
                background-color: $tertiary-color; 
            }
        }
    }

    .won {
        color: $won-money-text-color;
        font-weight: 800;

        .color-box{
            width:50%;
            &:hover{
                background-color: $won-money-hover-bg-color; 
                color: $won-money-hover-text-color;
            }
        }
    }
    
    .match {
        .color-box {
            width: 2.0rem;
            height:1.8rem;
            margin:auto;
            background-color: $match-color;

            @include breakpoint(sm){
                margin: auto;
                width: 1.8rem;
            }

            @include breakpoint(es){
                margin: auto;
                width: 1.5rem;
            }

            @include breakpoint(supersmall){
                margin: auto;
                width: 1.2rem;
            }

            &:hover{
                background-color: $match-hover-color;
                color: white;
            }
        }
    }
}

.jackpot {
    line-height: 2.1rem;

    .drawing-data{
        font-size: 1.2rem;
        font-weight: 600;
        animation: color 5s infinite;
        animation-direction: alternate;

        @include breakpoint(es){
            font-size: 0.85rem;
          }
        
    
        @keyframes color {
            0%   { color: $jackpot-bg-color-0;}
            100% { color: $jackpot-bg-color-100;}
          }
    }

    .drawing-date{
        .color-box{
            margin:auto;

            @include breakpoint(md){
                width:60%;
            }

            @include breakpoint(sm){
                width: 65%;
            }

            &:hover{
                background-color: $match-hover-color; 
                color: white;
            }
        }
    }

    .drawing-winnings{
        .color-box{
            margin:auto;

            @include breakpoint(md){
                width:60%;
            }

            @include breakpoint(sm){
                width: 72%;
            }

            @include breakpoint(es){
                width: 70%;
              }

            &:hover{
                background-color: $match-hover-color; 
                color:white;
            }
        }
    }

    .match {
        .color-box {
            width: 2rem;
            margin:auto;
            background-color: rgba(255, 255, 255, 0);

            @include breakpoint(sm){
                width: 1.6rem;
            }

            &:hover{
                background-color: $match-hover-color;
                color: white;
            }
        }
    }
}

