$font-stack: ('Roboto', sans-serif);

$primary-color: #fff;
$secondary-color: rgb(80, 172, 173);
$tertiary-color:rgb(201, 248, 248);;
$primary-text-color: #fff;
$link-color: $secondary-color;
$link-hover-color:$tertiary-color;